body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.left, .right {
  height: 100vh;
  width: 100%;
  display: flex;
}

.question {
  margin: 50px;
}

.hidden {
  display: none;
}

.image-to-draw {
  position: fixed;
}